@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
	font-size: 80% !important;
}

/* Diminue o tamanho do radio button */
.ui-radiobutton .ui-radiobutton-box {
    width: 11px !important;
    height: 11px !important;
}

/* Diminue o tamanho do radio button */
.ui-radiobutton-icon {
    margin-left: -0.3em !important;
    margin-top: -0.5em;
}

.ui-wizard-step-title {
    font-size: 13px !important;
}

/* Arrruma o tamanho dos componente dentro no wizard (solução "provisoria") */
.ui-wizard-content .ui-widget, 
.ui-wizard-content .ui-panel, 
.ui-wizard-content .ui-widget-content, 
.ui-wizard-content .ui-corner-al {
	font-size: 93% !important;
}

/* Customiza o tamanho das mensagens de alerta do sistema. */
.ui-messages-info, 
.ui-messages-warn, 
.ui-messages-error, 
.ui-messages-fatal {
	margin: 0 0 5px !important;
	border: none !important;
}

.ui-messages-info-icon, 
.ui-messages-warn-icon, 
.ui-messages-error-icon, 
.ui-messages-fatal-icon {
	margin-top: -6px !important;
}

.ui-messages .ui-messages-close {
	margin-top: -2px !important;
}

/*  Define o arrendodamento das bordas dos componentes visuais do sistema. */
.ui-corner-all, .ui-corner-top {
	border-radius: 0px !important;
}

/* Customiza a aproximação "*" em campos required */
.ui-outputlabel .ui-outputlabel-rfi {
	margin-left: 0.0em !important;
}

/*Diminue a fonte do footer do p:panel onda fica as rotas.*/
.ui-panel .ui-panel-footer {
	font-size: 65% !important;
}

/*Customiza o tamanho do breadcrumb*/
.ui-breadcrumb {
    padding: 2px 2px 5px !important;
    font-size: 55% !important;
}

.ui-breadcrumb .ui-menuitem-link {
	text-decoration: none;
}

.ui-breadcrumb ul li span {
    margin-top: 1.5px;
}

/*Customiza as mensagens do sistema*/
.ui-messages {
	font-size: 60% !important;
}
